<style>
    .flex-container {
        display: flex;
    }

    .flex-child {
        flex: 1;
    }

        .flex-child:first-child {
            margin-right: 20px;
        }
</style>
<div>
    <h1>Something about Shrek</h1>
    <h3>About me blah-blah-blah......swamp</h3>
    <div style="background-color:lightgray">
        <div class="flex-container">


            <div class="flex-child magenta">
                <div style="margin-left:5%">
                    <h3>Bio</h3>
                    <p>
                        Shrek is a gigantic, green-skinned, physically intimidating ogre with a Scottish accent. In Shrek Forever After, however, it is revealed that he is much smaller than the average ogre. Even though his background is something of a mystery, according to Shrek The Musical, it is revealed that on his seventh birthday, Shrek was sent away by his parents, because it was an ogre tradition. (The original book also has his parents evicting him from their swamp.) He is seen traveling alone, being either screamed at or teased by passers-by. The only time he receives a pleasant greeting is a wave from a young Fiona, who is promptly led away by her parents. In the book, his parents threw him into a dark hole that leads to the real world.
                    </p>
                    <p>
                        After scaring away an angry mob, he arrives at his swamp, enters an outhouse, and literally breaks out as the adult Shrek. Though surly, dangerous, cynical, misanthropic, and venomously cranky, Shrek is peaceful and does not care to hurt anyone, but just wants to live in solitude and be left alone. Shrek is accompanied by Donkey, an excitable and hyperactive talking donkey. When Shrek is first seen, he successfully scares off villagers by roaring at them, but it later becomes obvious that they were only attacking him because he is an ogre, rather than because he has done anything wrong.
                    </p>
                    <p>
                        In Shrek, during a conversation with Donkey, he laments that he is constantly judged by the outside world the minute people meet him, and is thus better off alone ("Look, I'm not the one with the problem, okay? It's the world that seems to have a problem with me. People take one look at me and go 'Aah! Help! Run! A big stupid ugly ogre!' They judge me before they even know me. That's why I'm better off alone."). This implies that he became a recluse after trying and failing to find acceptance among others. Another factor causing lack of acceptance can be found in Shrek the Third, where it is revealed that Shrek's father tried to eat him ("I guess I should have seen it coming. He used to bathe me in barbecue sauce and put me to bed with an apple in my mouth.").
                    </p>
                   
                </div>
            </div>

            <div class="flex-child green">
                <h3>Shrek</h3>
                <br />
                <img style="margin-left:10%; width:80%" src="~/Image/184-1845412_shrek-head-png.png" />

            </div>
        </div>
    </div>
</div>